
#main_container {
	background-color:gray;
}


/* ************** Global ************** */


.module_960 {
	background-color:#cca;
}

.module_560 {
	background-color:orange;
}

.module_400 {
	background-color:green;
}


#header_login {
	background-color: red;
}

.vehicle_listing img {
	float: left;
	background: black;
}

.column_1 {
	background-color:red;
}

.column_2 {
	background-color: orange;
}
	
.column_2 p {
	margin: 10px 10px 10px 0;
}

.column_3 {
	background-color: orange;
}

.accept_bid {
	background-color: #eee;
}


#number_of_images {
	background: yellow;
}

#view_larger {
	background: yellow;
}

.vehicle_listing {
	background: blue;
}

#current_listings h2 {
	background-color:red;
}

#current_listings .input_holder {
	background-color:lime;
}

.form p {
	background-color:teal;
}




































































































































































































	
 