.module_container              { border: 1px solid #1a1a1a; margin-bottom:10px}

.module                        { padding:15px; }

#left_column 	               { padding:0; width:300px; float:left; clear:both; }

#right_column                  { width:638px; float:right; margin-left:10px; }

#navigation li                 { height:23px; margin:0; padding-top:5px; }

#navigation hr                 { margin-left:-15px; width:296px; }